.cuadro-registro{

    background: #312c51;
    width: 50%;       
    /*height: 70%;*/
    position: absolute;
    top:15%;
    left: 45%;
    padding-top: 2%;           
    margin-top: -2%;
    margin-left: -20%;

    color: white;
    border-radius: 5%;
    text-align: center;
}

.div-interior{
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.contenedor{
    position: relative;
    padding-top: 56.25%;
}

.input-registro{
    width: 50%;
    background-color: #774f81;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 3%;
    cursor: pointer;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.boton-registro {
    background-color: #45a049;
    width: 35%;
    height: 50px;
    border-radius: 3%;

    color: white;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.label-registro{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*                 */