.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.px-3{
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}
main{
  display: block;
}
.scrollView{
  overflow: auto;
}

#circulo {
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	background: red;
	display: block;
	justify-content: right;
	align-items: flex-start;
	text-align: center;
}
#circulo > p {
	font-family: sans-serif;
	color: white;
	font-size: 0.9rem;
	font-weight: bold;
}

#carrito{
  position: absolute;
}

